@charset "UTF-8";
body {
  margin: 0;
  padding: 0; }

h2,
h3,
h4,
h5,
h6,
p,
a,
i,
b,
strong,
span,
div,
label,
button,
form,
input,
li {
  font-family: "Open Sans", sans-serif; }

a {
  text-decoration: none; }

ul {
  margin-top: 0; }

.navigationSection {
  padding: 0 !important; }

.navWrapper {
  background: #fff;
  height: 77px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 6vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: 0.2s ease-in-out all; }

.shrink {
  height: 60px;
  transition: 0.2s ease-in-out all;
  border-bottom: 1px solid #f1e7d5; }
  .shrink .navLogo {
    width: 100px;
    transition: 0.2s ease-in-out all; }
  .shrink .button_container {
    top: 22px;
    transition: 0.2s ease-in-out all; }

.navLogo {
  transition: 0.2s ease-in-out all;
  width: 120px; }

.desktopNav {
  display: none; }
  @media (min-width: 1200px) {
    .desktopNav {
      display: block; } }

.button_container {
  transition: top .3s linear;
  -webkit-transition: top .3s linear;
  position: fixed;
  top: 33px;
  right: 4%;
  height: 15px;
  width: 33px;
  cursor: pointer;
  z-index: 99999; }
  @media (min-width: 1200px) {
    .button_container {
      display: none; } }
  .button_container span {
    background: #000;
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    -webkit-transition: all .35s ease;
    cursor: pointer; }
    .button_container span:nth-of-type(2) {
      top: 7px; }
    .button_container span:nth-of-type(3) {
      top: 13px; }

.button_container.active span:nth-of-type(1) {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #fff; }

.button_container.active span:nth-of-type(2) {
  opacity: 0;
  background: #fff; }

.button_container.active span:nth-of-type(3) {
  transform: translateY(-2px) translateX(0) rotate(-45deg);
  background: #fff; }

.overlay {
  position: fixed;
  background: rgba(224, 130, 61, 0.97);
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  z-index: 9999; }
  @media (min-width: 1200px) {
    .overlay {
      display: none; } }
  .overlay nav {
    position: relative;
    height: 85%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: 400;
    text-align: center; }
    .overlay nav ul {
      list-style: none;
      padding-left: 25px;
      margin: 0 auto;
      display: inline-block;
      position: relative;
      height: 100%;
      float: left;
      text-align: left; }
      .overlay nav ul li {
        display: block;
        height: 25%;
        height: calc(100% / 8);
        min-height: 50px;
        position: relative;
        opacity: 0;
        margin-bottom: -5px;
        float: initial; }
        .overlay nav ul li a {
          display: block;
          position: relative;
          color: #fff;
          font-weight: 600;
          font-size: 23px !important;
          letter-spacing: 1.5px;
          font-family: "Quicksand", sans-serif;
          text-decoration: none;
          overflow: hidden;
          font-size: 20px;
          transition: all .35s ease;
          -webkit-transition: all .35s ease; }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }

.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%; }
  .overlay.open li {
    animation: fadeInRight .5s ease forwards;
    animation-delay: .35s; }
    .overlay.open li:nth-of-type(1) {
      animation-delay: .4s; }
    .overlay.open li:nth-of-type(2) {
      animation-delay: .45s; }
    .overlay.open li:nth-of-type(3) {
      animation-delay: .5s; }
    .overlay.open li:nth-of-type(4) {
      animation-delay: .55s; }

nav ul li {
  list-style-type: none;
  float: left;
  margin: 0 15px; }
  nav ul li a {
    font-family: "Open Sans", sans-serif;
    color: #282828;
    transition: 0.2s ease-in-out all; }
    @media (min-width: 1200px) {
      nav ul li a:hover {
        opacity: 0.6; } }
  @media (min-width: 1200px) {
    nav ul li .active {
      color: red !important; } }

.videoBgWrapper {
  float: left;
  width: 100%;
  margin-top: 77px;
  overflow: hidden;
  position: relative;
  padding: 0; }
  @media (min-width: 1200px) {
    .videoBgWrapper {
      min-height: 100vh;
      margin-top: initial;
      padding: initial; } }
  .videoBgWrapper video {
    width: 100%; }
    @media (min-width: 1200px) {
      .videoBgWrapper video {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0; } }

.videoOverlay {
  background-color: rgba(255, 127, 0, 0.7);
  position: absolute;
  top: -4px;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  @media (min-width: 1200px) {
    .videoOverlay {
      top: 0; } }

.videoText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 1000px;
  text-align: center;
  margin: 0 auto; }
  .videoText h1 {
    font-family: "Quicksand", sans-serif;
    color: #fff;
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 1px; }
    @media (min-width: 1200px) {
      .videoText h1 {
        font-size: 4.25rem; } }
  .videoText p {
    color: #fff;
    font-size: 0.9rem;
    display: none; }
    @media (min-width: 480px) {
      .videoText p {
        display: block; } }
    @media (min-width: 1200px) {
      .videoText p {
        font-size: 1.5rem; } }

section {
  padding-top: 65px;
  padding-bottom: 25px;
  float: left;
  width: 100%; }
  @media (min-width: 1200px) {
    section {
      padding-top: 65px;
      padding-bottom: 65px; } }

.solutionWrapper h2 {
  font-size: 1.6rem;
  color: #282828;
  text-align: center;
  position: relative;
  font-weight: 300;
  margin: 0; }
  @media (min-width: 1200px) {
    .solutionWrapper h2 {
      font-size: 2.3rem; } }
  .solutionWrapper h2::after {
    content: "";
    position: absolute;
    width: 100%;
    background: #f67b0e;
    height: 2px;
    bottom: -5px;
    left: 0; }

.solution {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%; }

.solutionList {
  float: left;
  width: 100%;
  margin-top: 30px;
  align-items: flex-start;
  justify-content: center; }
  @media (min-width: 1200px) {
    .solutionList {
      margin-top: 90px; } }
  .solutionList .each {
    font-size: 0.92rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    transition: 0.2s ease-in-out all;
    padding: 2rem 1rem;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px; }
    @media (min-width: 1200px) {
      .solutionList .each {
        box-shadow: none;
        padding: 0 1rem;
        margin-bottom: initial; } }
    @media (min-width: 1200px) {
      .solutionList .each:hover {
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
        transform: translateY(-4px); } }
    .solutionList .each img {
      width: 75px; }
      @media (min-width: 1200px) {
        .solutionList .each img {
          width: 90px; } }
    .solutionList .each i {
      font-style: normal;
      font-size: 2rem;
      font-weight: 300;
      margin: 10px 0; }
      @media (min-width: 1200px) {
        .solutionList .each i {
          font-size: 2.3rem; } }
    .solutionList .each p {
      color: #767676; }
    .solutionList .each h4 {
      color: #282828;
      margin: 10px 0; }

.trainingStepsWrapper {
  background: #f9f9f9; }

.trainingSteps {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%; }
  .trainingSteps h2 {
    font-size: 1.6rem;
    color: #282828;
    text-align: center;
    position: relative;
    font-weight: 300;
    margin: 0 15px; }
    @media (min-width: 1200px) {
      .trainingSteps h2 {
        font-size: 2.3rem;
        margin: 0; } }
    .trainingSteps h2::after {
      content: "";
      position: absolute;
      width: 100%;
      background: #f67b0e;
      height: 2px;
      bottom: -5px;
      left: 0; }

.trainingStepsList {
  float: left;
  width: 100%;
  margin-top: 40px;
  align-items: flex-start;
  justify-content: center; }
  @media (min-width: 1200px) {
    .trainingStepsList {
      margin-top: 90px; } }
  .trainingStepsList .each {
    font-size: 1.03rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    transition: 0.2s ease-in-out all;
    padding: 0.2rem 1rem;
    height: 200px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15); }
    @media (min-width: 1200px) {
      .trainingStepsList .each {
        height: 250px;
        box-shadow: none;
        margin-bottom: initial;
        padding: 0 1rem; } }
    @media (min-width: 1200px) {
      .trainingStepsList .each:hover {
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
        transform: translateY(-4px); } }
    .trainingStepsList .each img {
      width: 60px; }
    .trainingStepsList .each i {
      font-style: normal;
      font-size: 2rem;
      font-weight: 300;
      margin: 20px 0; }
    .trainingStepsList .each p {
      color: #767676;
      margin: 0; }
    .trainingStepsList .each h4 {
      color: #282828;
      margin: 10px 0; }

.predictionEngine {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%; }
  .predictionEngine h2 {
    font-size: 1.6rem;
    color: #282828;
    text-align: center;
    position: relative;
    font-weight: 300;
    margin: 0 15px; }
    @media (min-width: 1200px) {
      .predictionEngine h2 {
        font-size: 2.3rem;
        margin: 0; } }
    .predictionEngine h2::after {
      content: "";
      position: absolute;
      width: 100%;
      background: #f67b0e;
      height: 2px;
      bottom: -5px;
      left: 0; }

.predictionEngineList {
  float: left;
  width: 100%;
  margin-top: 30px;
  align-items: flex-start;
  justify-content: center; }
  @media (min-width: 1200px) {
    .predictionEngineList {
      margin-top: 90px; } }
  .predictionEngineList .each {
    font-size: 1.03rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    transition: 0.2s ease-in-out all;
    padding: 0 1rem;
    height: 250px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15); }
    @media (min-width: 1200px) {
      .predictionEngineList .each {
        margin-bottom: initial;
        box-shadow: none; } }
    @media min1200 {
      .predictionEngineList .each:hover {
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
        transform: translateY(-4px); } }
    .predictionEngineList .each span {
      width: 60px;
      color: #f67b0e;
      font-size: 80px; }
    .predictionEngineList .each i {
      font-style: normal;
      font-size: 2rem;
      font-weight: 300;
      margin: 20px 0; }
    .predictionEngineList .each p {
      color: #767676;
      margin-top: 0; }
    .predictionEngineList .each h4 {
      color: #282828;
      margin: 10px 0; }

.predictionWrapper {
  background: url("../img/sectionBg.jpg") no-repeat;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; }

.perceptionsWrapper {
  background: #f9f9f9; }

.perceptions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%; }
  .perceptions h2 {
    font-size: 1.6rem;
    color: #282828;
    text-align: center;
    position: relative;
    font-weight: 300;
    margin: 0 15px; }
    @media (min-width: 1200px) {
      .perceptions h2 {
        font-size: 2.3rem;
        margin: 0; } }
    .perceptions h2::after {
      content: "";
      position: absolute;
      width: 100%;
      background: #f67b0e;
      height: 2px;
      bottom: -5px;
      left: 0; }

.perceptionsList {
  margin-top: 30px; }
  @media (min-width: 1200px) {
    .perceptionsList {
      margin-top: 60px; } }
  .perceptionsList .each {
    padding: 0.9rem 0.1rem !important;
    margin: 0.9rem 0;
    background: #fabd86;
    height: 100%;
    max-height: 284px;
    min-height: 284px;
    position: relative;
    overflow: hidden;
    transition: 0.2s ease-in-out all; }
    .perceptionsList .each img {
      width: 120px;
      position: absolute;
      top: -35px;
      left: -15px; }
    .perceptionsList .each h3 {
      color: #fff;
      font-family: "Quicksand", sans-serif;
      font-weight: bold;
      font-size: 28px;
      letter-spacing: 1px;
      width: 60%;
      float: right;
      text-align: left;
      position: relative; }
      .perceptionsList .each h3:after {
        content: "";
        width: 100%;
        position: absolute;
        height: 2px;
        background: #fcd4b0;
        right: 0;
        bottom: -8px; }
    .perceptionsList .each p {
      float: left;
      color: #fff;
      font-family: "Quicksand", sans-serif;
      font-weight: 500;
      font-size: 22px;
      letter-spacing: 1px;
      text-align: left;
      padding: 10px 35px; }
      @media (min-width: 1200px) {
        .perceptionsList .each p {
          font-size: 25px; } }
  .perceptionsList .gadgets img {
    top: 5px !important; }
  .perceptionsList .clothing img {
    top: -5px !important; }
  .perceptionsList .art img {
    top: -18px !important; }
  .perceptionsList .fortune img {
    top: -18px !important; }
  .perceptionsList .moderation img {
    top: -8px !important; }
  .perceptionsList .custom {
    background: #f67b0e !important; }
    .perceptionsList .custom img {
      top: -18px !important; }

.glanceWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%; }
  .glanceWrapper h2 {
    font-size: 1.6rem;
    color: #282828;
    text-align: center;
    position: relative;
    font-weight: 300;
    margin: 0 15px; }
    @media (min-width: 1200px) {
      .glanceWrapper h2 {
        font-size: 2.3rem;
        margin: 0; } }
    .glanceWrapper h2::after {
      content: "";
      position: absolute;
      width: 100%;
      background: #f67b0e;
      height: 2px;
      bottom: -5px;
      left: 0; }

.glance {
  float: left;
  width: 100%;
  margin: 0 auto; }
  .glance ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 60px; }
    .glance ul li {
      list-style-type: none;
      text-align: left;
      color: #767676;
      margin-bottom: 1.6rem;
      position: relative; }
      .glance ul li:before {
        position: absolute;
        left: -45px;
        margin-top: -10px;
        padding-top: 2px;
        display: inline-block;
        text-align: center;
        margin: 5px 10px;
        line-height: 20px;
        transition: all .2s;
        color: #ffffff;
        background: #fff;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid #f67b0e;
        color: #f67b0e;
        content: '✓';
        top: -5px; }
        @media (min-width: 1200px) {
          .glance ul li:before {
            left: -60px; } }

.moreInfoWrapper {
  background: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%; }
  .moreInfoWrapper h2 {
    font-size: 1.6rem;
    color: #282828;
    text-align: center;
    position: relative;
    font-weight: 300;
    margin: 0 15px; }
    @media (min-width: 1200px) {
      .moreInfoWrapper h2 {
        font-size: 2.3rem;
        margin: 0; } }
    .moreInfoWrapper h2::after {
      content: "";
      position: absolute;
      width: 100%;
      background: #f67b0e;
      height: 2px;
      bottom: -5px;
      left: 0; }
  .moreInfoWrapper .container {
    margin-top: 60px; }
  .moreInfoWrapper .each img {
    width: 100%;
    float: left; }
  .moreInfoWrapper .each .textArea {
    background: #fff;
    padding: 1.4rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; }
    .moreInfoWrapper .each .textArea p {
      color: #767676;
      margin-bottom: 25px;
      text-align: left;
      font-size: 16px;
      line-height: 26px; }

.orangeBtn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.7rem 2rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  background-color: #f67b0e;
  border-color: #f67b0e;
  border-radius: 100px;
  color: #fff; }
  @media (min-width: 1200px) {
    .orangeBtn {
      padding: 1rem 3rem; } }
  .orangeBtn:hover {
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
    background: #b15707;
    border-color: #b15707; }

.teamWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%; }
  .teamWrapper .container {
    margin-top: 60px; }
  .teamWrapper h2 {
    font-size: 1.6rem;
    color: #282828;
    text-align: center;
    position: relative;
    font-weight: 300;
    margin: 0 15px; }
    @media (min-width: 1200px) {
      .teamWrapper h2 {
        font-size: 2.3rem;
        margin: 0; } }
    .teamWrapper h2::after {
      content: "";
      position: absolute;
      width: 100%;
      background: #f67b0e;
      height: 2px;
      bottom: -5px;
      left: 0; }
  .teamWrapper .each {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px; }
    @media (min-width: 1200px) {
      .teamWrapper .each {
        flex-direction: row;
        align-items: flex-start; } }
    .teamWrapper .each .textArea {
      text-align: center;
      margin-left: 20px; }
      @media (min-width: 1200px) {
        .teamWrapper .each .textArea {
          text-align: left; } }
    .teamWrapper .each h3 {
      color: #000;
      font-weight: 500;
      font-size: 1.5rem;
      margin: 5px 0; }
    .teamWrapper .each h4 {
      font-size: 18px;
      color: #767676;
      font-weight: 500;
      margin: 5px 0; }
    .teamWrapper .each p {
      color: #767676;
      margin: 10px 0;
      line-height: 24px; }

footer {
  float: left;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
  color: #fff;
  font-size: 15px;
  text-align: center; }

/*# sourceMappingURL=style.css.map */